html {
	margin: 20px;
	background-color: #ffffff;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333;
	
}

h1 {
	font-size: 50px;
	color: #000000;
}

p {
	font-size: 20px;
	color: #000000;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

@media (max-width:768px){
	h1 {
		font-size: 40px;
	}
	p1{
		font-size: 15px;
	}
}

@media (max-width:400px){
	h1 {
		font-size: 20px;
	}
	p1{
		font-size: 10px;
	}
}
